.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.86); /* semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* appears above all other content */
}

@keyframes slideIn {
    from {
        transform: translateY(16px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(16px);
    }
}

.modal {
    position: relative;
    background-color: white;
    width: 400px;
    padding: 44px 64px;
    border-radius: 4px;
    box-shadow: 0 3px 12px -1px rgba(0,0,0,.3);
    animation-name: slideIn;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
}

.closing {
    animation-name: slideOut;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; /* Keep modal in the final state after animation */
}

.close-button {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (min-width: 601px) and (max-width: 900px) {
    .modal {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .modal {
        width: calc(100% - 20px); /* screen width minus padding */
        max-width: 600px;
        padding: 20px;
        bottom: 0;
        top: unset;
        left: 10px;
        right: 10px;
        margin: auto;
    }

    .modal-overlay {
        align-items: flex-end; /* align modal to bottom of screen */
    }
}

@media (min-width: 901px) {
    .modal {
        width: 600px;
    }
}
